*.class
__pycache__
a.out
*.exe
main
*.o
*.swiftsourceinfo
*.swiftmodule
*.swiftdoc
META-INF/
*.jar
simple_geo3x3
*.hi
.Rhistory
*.cmx
*.cmi
*.beam
*.dump
target/
elm-stuff/
out/
!frege/frege3.24.405.jar
frege/build
.jar
.keep
*.ecf
